       
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


#imagentexto {
   position: relative;
   width: 100%; 
 }
 
 #textoimagen {
   position: absolute;
   top: 45%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   color: white;
   padding: 10px; 
   font-size: 40px; 
   text-align: justify;
 }

 