       
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poiret+One&display=swap');

#imagentexto {
   position: relative;
   width: 100%; 
 }
 
 #textoimagen {
   position: absolute;
   top: 55%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   color: white;
   padding: 10px; 
   font-size: 35px; 
   text-align: justify;
 }

.letrafont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: justify;
}

 section{
    max-width: 525px;
    margin: 0 auto;
 }




 