       
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poiret+One&display=swap');

header {
  background-size: cover;
  background-position: center; 
}
#imagentexto {
   position: relative;
   width: 100%; 
 }
 
 #textoimagen {
   position: absolute;
   top: 55%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   color: white;
   padding: 10px; 
   font-size: 35px; 
   text-align: justify;
 }

.linkenrojo {
  color: red;
}

.letrafont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: justify;
}

 section{
    max-width: 525px;
    margin: 0 auto;
 }

 #piefinaldepag {
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
 }

 .tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fotoactor {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
#textoimagen {
    position: absolute;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    padding: 10px; 
    font-size: 20px; 
    text-align: justify;
  }
 
}
 